@inherits GdsWithHref

@if (Parent?.HasMultipleActions == true)
{
    <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link @Classes" href=@Href @attributes=@Attributes>
            @ChildContent

            @if (visuallyHiddenText != null)
            {
                <span class="govuk-visually-hidden">@visuallyHiddenText</span>
            }
        </a>
    </li>
}
else
{
    <a class="govuk-link @Classes" href=@Href @attributes=@Attributes>
        @ChildContent

        @if (visuallyHiddenText != null)
        {
            <span class="govuk-visually-hidden">@visuallyHiddenText</span>
        }
    </a>
}

@code {
    #region Public Parameters
    /// <summary>
    /// Actions rely on context from the surrounding content so may
    /// require additional accessible text. Text supplied to this
    /// option is appended to the end. Use html for more complicated
    /// scenarios.
    /// </summary>
    [Parameter]
    public string? VisuallyHiddenText { get; set; }
    #endregion

    #region Private Properties
    private RenderFragment? visuallyHiddenText
    {
        get
        {
            if (string.IsNullOrEmpty(VisuallyHiddenText))
                return null;

            RenderFragment hiddenText = @<text> @VisuallyHiddenText</text>;

            if(Parent?.Parent?.CardTitle != null)
                hiddenText =@<text> @VisuallyHiddenText (@Parent.Parent.CardTitle)</text>;

            return hiddenText;
        }
    }
    #endregion

    #region Cascading Value - Parent
    protected override void OnInitialized()
    {
        if (Parent == null)
            throw new ArgumentNullException(nameof(Parent), "GdsSummaryListRowAction must exist within a GdsSummaryListRow");

        Parent.Register(this);

        base.OnInitialized();
    }

    [CascadingParameter]
    private GdsSummaryListRow? Parent { get; set; }
    #endregion
}
