@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components
@inherits GdsWithContent
@implements IDisposable
@inject NavigationManager Nav


<div id="@Id" class="govuk-tabs @Classes" @attributes="@Attributes">
    <h2 class="govuk-tabs__title">@Title</h2>
    <ul class="govuk-tabs__list" role="tablist">
        @foreach (var panel in Panels)
        {
            <li class="govuk-tabs__list-item @GetActivePanelCss(panel)" role="presentation">
                <a id="tab_@panel.Id"
                   @ref="@Ref"
                   class="govuk-tabs__tab"
                   role="tab"
                   aria-controls="@panel.Id"
                   aria-selected="@(panel == ActivePanel ? "true" : "false")"
                   tabindex="@(panel == ActivePanel ? "0" : "-1")"
                   @onclick="() => HandleClick(panel)"
                   @onclick:preventDefault="true"
                   @onkeydown="args => HandleKeyDown(panel, args)"
                   @onkeydown:preventDefault="true"
                   href="@(Nav.ToBaseRelativePath($"{Nav.Uri}#{panel.Id}"))">
                    @panel.Label
                </a>
            </li>
        }
    </ul>
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>



@code {
    /// <summary>
    /// Sets the ID of the tabs component
    /// </summary>
    [Parameter]
    public string? Id { get; set; }
    
    /// <summary>
    /// Optional prefix. This is used to prefix the ID of each tab panel, separated by '-'.
    /// </summary>
    [Parameter]
    public string? IdPrefix { get; set; }
    
    /// <summary>
    /// Sets the title of the tabs component table of contents
    /// </summary>
    [Parameter]
    public string? Title { get; set; }
    
    internal GdsTabsPanel ActivePanel { get; private set; }

    internal List<GdsTabsPanel> Panels { get; } = [];
    
    private List<ElementReference> _refs = [];
    internal ElementReference Ref { set => _refs.Add(value); }

    internal void AddPanel(GdsTabsPanel panel)
    {
        //todo: throw exception if no id or idprefix
        Panels.Add(panel);
        if (Panels[0] == panel)
        {
            ActivePanel = panel;
        }
        panel.Id ??= $"{IdPrefix}-{Panels.Count}";
        
        StateHasChanged();
    }

    private string GetActivePanelCss(GdsTabsPanel panel)
    {
        return panel == ActivePanel ? "govuk-tabs__list-item--selected" : "";
    }
    
    private void HandleClick(GdsTabsPanel panel)
    {
        if (ActivePanel == panel)
        {
            return;
        }
        ActivePanel = panel;
        CreateBrowserHistoryEntry();
    }

    private void HandleKeyDown(GdsTabsPanel panel, KeyboardEventArgs args)
    {
        var index = Panels.IndexOf(panel);
        switch (args.Key)
        {
            case "ArrowRight" or "Right":
                if (index < Panels.Count - 1)
                {
                    ActivePanel = Panels[index + 1];
                    SetFocusToActivePanel();
                    CreateBrowserHistoryEntry();
                }
                
                break;
                
            case "ArrowLeft" or "Left":
                if (index > 0)
                {
                    ActivePanel = Panels[index - 1];
                    SetFocusToActivePanel();
                    CreateBrowserHistoryEntry();
                }

                break;
        }
    }

    private void SetFocusToActivePanel()
    {
        var index = Panels.IndexOf(ActivePanel);
        InvokeAsync(()=> _refs[index].FocusAsync()).Wait();
    }
    
    private void CreateBrowserHistoryEntry()
    {
        var panelId = ActivePanel.Id;
        ActivePanel.Id = "";
        StateHasChanged();
        
        Nav.NavigateTo($"{Nav.Uri.Split('#')[0]}#{panelId}");
        
        ActivePanel.Id = panelId;
        StateHasChanged();
    }
    
    // navigation
    private string _pageUrl;
    private string? _tempActivePanelId;
    
    protected override void OnInitialized()
    {
        Nav.LocationChanged += HandleLocationChanged;
        _pageUrl = Nav.Uri;
        base.OnInitialized();   
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(_tempActivePanelId != null)
        {
            ActivePanel.Id = _tempActivePanelId;
            _tempActivePanelId = null;
        }
        if (!firstRender) SetFocusToActivePanel();
        
        base.OnAfterRender(firstRender);
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        // do nothing if navigating to a different page
        if (!e.Location.Contains(_pageUrl.Split('#')[0])) return;

        var newUrlParts = e.Location.Split('#');
        if (newUrlParts.Length > 1) // if there is a #panel-id in the new url
        {
            var panelId = newUrlParts[1];
            var panel = Panels.FirstOrDefault(p => p.Id == panelId);
            if (panel == null) return;
            
            _tempActivePanelId = panelId;
            ActivePanel = panel;
            ActivePanel.Id = "";
        }
        else
        {
            ActivePanel = Panels[0];
        }

        StateHasChanged();
    }
    
    void IDisposable.Dispose()
    {
        Nav.LocationChanged -= HandleLocationChanged;
    }
}