@inherits LayoutComponentBase
@layout MainLayout

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <ul id="sub-navigation" class="app-subnav__section">
                <li class="app-subnav__section-item @GetActive("Components/Accordion", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Accordion">
                        Accordion
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/BackLink", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/BackLink">
                        Back link
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Breadcrumbs", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Breadcrumbs">
                        Breadcrumbs
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Button", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Button">
                        Button
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/ButtonMenu", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/ButtonMenu">
                        Button menu
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/CharacterCount", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/CharacterCount">
                        Character count
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Checkboxes", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Checkboxes">
                        Checkboxes
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/CookieBanner", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/CookieBanner">
                        Cookie banner
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/DateInput", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/DateInput">
                        Date input
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Details", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Details">
                        Details
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/ErrorMessage", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/ErrorMessage">
                        Error message
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/ErrorSummary", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/ErrorSummary">
                        Error summary
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/ExitThisPage", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/ExitThisPage">
                        Exit this page
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Fieldset", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Fieldset">
                        Fieldset
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Footer", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Footer">
                        Footer
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/InsetText", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/InsetText">
                        Inset text
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/NotificationBanner", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/NotificationBanner">
                        Notification banner
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Pagination", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Pagination">
                        Pagination
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Panel", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Panel">
                        Panel
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/PasswordInput", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/PasswordInput">
                        Password input
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/PhaseBanner", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/PhaseBanner">
                        Phase banner
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Radios", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Radios">
                        Radios
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Search", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Search">
                        Search
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Select", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Select">
                        Select
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/ServiceNavigation", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/ServiceNavigation">
                        Service navigation
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/SideNavigation", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/SideNavigation">
                        Side navigation
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/SkipLink", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/SkipLink">
                        Skip link
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/SubNavigation", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/SubNavigation">
                        Sub navigation
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/SummaryList", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/SummaryList">
                        Summary list
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Tag", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Tag">
                        Tag
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Tasklist", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Tasklist">
                        Task list
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Textarea", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Textarea">
                        Textarea
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/TextInput", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/TextInput">
                        Text input
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/WarningText", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/WarningText">
                        Warning text
                    </NavLink>
                </li>
            </ul>
        </div>
        <div class="govuk-grid-column-three-quarters">
            @Body
        </div>
    </div>
</div>


@code {
    [Inject]
    NavigationManager NavigationManager { get; set; }

    protected override void OnInitialized() => NavigationManager.LocationChanged += (s, e) => StateHasChanged();

    bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }

    string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix) => IsActive(href, navLinkMatch) ? "app-subnav__section-item--current" : "";
}
