@inherits LayoutComponentBase
@layout MainLayout

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <ul id="sub-navigation" class="app-subnav__section">
                <li class="app-subnav__section-item @GetActive("Components/Accordion", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Accordion">
                        Accordion
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/BackLink", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/BackLink">
                        Back link
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Button", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Button">
                        Button
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/ButtonMenu", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/ButtonMenu">
                        Button menu
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/Breadcrumbs", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/Breadcrumbs">
                        Breadcrumbs
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/ErrorMessage", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/ErrorMessage">
                        Error message
                    </NavLink>
                </li>
                <li class="app-subnav__section-item @GetActive("Components/TextInput", NavLinkMatch.All)">
                    <NavLink class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="Components/TextInput">
                        Text input
                    </NavLink>
                </li>
            </ul>
        </div>
        <div class="govuk-grid-column-three-quarters">
            @Body
        </div>
    </div>
</div>


@code {
    [Inject]
    NavigationManager NavigationManager { get; set; }

    protected override void OnInitialized() => NavigationManager.LocationChanged += (s, e) => StateHasChanged();

    bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }

    string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix) => IsActive(href, navLinkMatch) ? "app-subnav__section-item--current" : "";
}
