@page "/Components/ButtonMenu"
@layout _ComponentsLayout

<PageTitle>Button menu</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Button menu</h1>

<p class="govuk-body">
    A blazor implementation of the MoJ GDS <a href="https://design-patterns.service.justice.gov.uk/components/button-menu/" class="govuk-link">Button menu</a>.
</p>

<Example BlazorExampleContent="@(@"<GdsButtonMenu MenuTitle=""Menu title"">
        <GdsButtonMenuItem>Menu item 1</GdsButtonMenuItem>
        <GdsButtonMenuItem>Menu item 2</GdsButtonMenuItem>
        <GdsButtonMenuItem>Menu item 4</GdsButtonMenuItem>
        <GdsButtonMenuItem>Menu item 3</GdsButtonMenuItem>
</GdsButtonMenu>")">
    <GdsButtonMenu MenuTitle="Menu title">
        <GdsButtonMenuItem>Menu item 1</GdsButtonMenuItem>
        <GdsButtonMenuItem>Menu item 2</GdsButtonMenuItem>
        <GdsButtonMenuItem>Menu item 4</GdsButtonMenuItem>
        <GdsButtonMenuItem>Menu item 3</GdsButtonMenuItem>
    </GdsButtonMenu>
</Example>

<h2 class="govuk-heading-l" id="how-to-use">How to use</h2>

<h3 class="govuk-heading-m" id="various-button-types">Various button types</h3>

<Example BlazorExampleContent="@(@"<GdsButtonMenu MenuTitle=""Review"">
    <GdsButtonMenuItem>Submit</GdsButtonMenuItem>
    <GdsButtonMenuItem Href=""#"">Link</GdsButtonMenuItem>
    <GdsButtonMenuItem Type=""button"">Button</GdsButtonMenuItem>
    <GdsButtonMenuItem Type=""reset"">Reset</GdsButtonMenuItem>
</GdsButtonMenu>")">
    <GdsButtonMenu MenuTitle="Button types">
        <GdsButtonMenuItem>Submit</GdsButtonMenuItem>
        <GdsButtonMenuItem Href="#">Link</GdsButtonMenuItem>
        <GdsButtonMenuItem Type="button">Button</GdsButtonMenuItem>
        <GdsButtonMenuItem Type="reset">Reset</GdsButtonMenuItem>
    </GdsButtonMenu>
</Example>

<h3 class="govuk-heading-m" id="menu-title-button-classes">Apply styles to menu button</h3>

<h4 class="govuk-heading-s" id="secondary-menu-button">A secondary menu button</h4>
<Example BlazorExampleContent="@(@"<GdsButtonMenu MenuTitle=""Review"" MenuTitleButtonClasses=@GdsButtonClasses.Secondary>
        <GdsButtonMenuItem Href=""#"">Approve</GdsButtonMenuItem>
        <GdsButtonMenuItem Href=""#"">Request more information</GdsButtonMenuItem>
        <GdsButtonMenuItem Href=""#"">Reject with reason</GdsButtonMenuItem>
</GdsButtonMenu>")">
    <GdsButtonMenu MenuTitle="Review" MenuTitleButtonClasses=@GdsButtonClasses.Secondary>
        <GdsButtonMenuItem Href="#">Approve</GdsButtonMenuItem>
        <GdsButtonMenuItem Href="#">Request more information</GdsButtonMenuItem>
        <GdsButtonMenuItem Href="#">Reject with reason</GdsButtonMenuItem>
    </GdsButtonMenu>
</Example>

<h4 class="govuk-heading-s" id="warning-menu-button">A warning menu button</h4>
<Example BlazorExampleContent="@(@"<GdsButtonMenu MenuTitle=""Review"" MenuTitleButtonClasses=@GdsButtonClasses.Warning>
        <GdsButtonMenuItem Href=""#"">Approve</GdsButtonMenuItem>
        <GdsButtonMenuItem Href=""#"">Request more information</GdsButtonMenuItem>
        <GdsButtonMenuItem Href=""#"">Reject with reason</GdsButtonMenuItem>
</GdsButtonMenu>")">
    <GdsButtonMenu MenuTitle="Review" MenuTitleButtonClasses=@GdsButtonClasses.Warning>
        <GdsButtonMenuItem Href="#">Approve</GdsButtonMenuItem>
        <GdsButtonMenuItem Href="#">Request more information</GdsButtonMenuItem>
        <GdsButtonMenuItem Href="#">Reject with reason</GdsButtonMenuItem>
    </GdsButtonMenu>
</Example>

<h3 class="govuk-heading-m" id="left-aligned-menu-items">Left-aligned menu items</h3>

<Example BlazorExampleContent="@(@"<GdsButtonMenu MenuTitle=""Review"" MenuTitleButtonClasses=@GdsButtonClasses.Secondary>
        <GdsButtonMenuItem Href=""#"">Approve</GdsButtonMenuItem>
        <GdsButtonMenuItem Href=""#"">Request more information</GdsButtonMenuItem>
        <GdsButtonMenuItem Href=""#"">Reject with reason</GdsButtonMenuItem>
</GdsButtonMenu>")">
    <GdsButtonMenu MenuTitle="Review" MenuTitleButtonClasses=@GdsButtonClasses.Secondary>
        <GdsButtonMenuItem Href="#">Approve</GdsButtonMenuItem>
        <GdsButtonMenuItem Href="#">Request more information</GdsButtonMenuItem>
        <GdsButtonMenuItem Href="#">Reject with reason</GdsButtonMenuItem>
    </GdsButtonMenu>
</Example>

<h3 class="govuk-heading-m" id="right-aligned-menu-items">Right-aligned menu items</h3>
<Example BlazorExampleContent="@(@"<GdsButtonMenu MenuTitle=""Review"" RightAlignMenu=@true>
        <GdsButtonMenuItem Href=""#"">Approve</GdsButtonMenuItem>
        <GdsButtonMenuItem Href=""#"">Request more information</GdsButtonMenuItem>
        <GdsButtonMenuItem Href=""#"">Reject with reason</GdsButtonMenuItem>
</GdsButtonMenu>")">
    
    <GdsButtonMenu MenuTitle="Review" RightAlignMenu>
        <GdsButtonMenuItem Href="#">Approve</GdsButtonMenuItem>
        <GdsButtonMenuItem Href="#">Request more information</GdsButtonMenuItem>
        <GdsButtonMenuItem Href="#">Reject with reason</GdsButtonMenuItem>
    </GdsButtonMenu>
    
</Example>

<h3 class="govuk-heading-m" id="grouping buttons">Grouping buttons</h3>

<Example BlazorExampleContent="@(@"<div class=""moj-button-group moj-button-group--inline"">
    <GdsButton Type=""submit"">Accept booking</GdsButton>
    <GdsButtonMenu MenuTitle=""Review booking"" MenuTitleButtonClasses=@GdsButtonClasses.Secondary>
            <GdsButtonMenuItem>Approve</GdsButtonMenuItem>
            <GdsButtonMenuItem>Request more information</GdsButtonMenuItem>
            <GdsButtonMenuItem>Reject with reason</GdsButtonMenuItem>
    </GdsButtonMenu>
</div>")">
    <div class="moj-button-group moj-button-group--inline">
        <GdsButton Type="submit">Accept booking</GdsButton>
        <GdsButtonMenu MenuTitle="Review booking" MenuTitleButtonClasses=@GdsButtonClasses.Secondary>
            <GdsButtonMenuItem>Approve</GdsButtonMenuItem>
            <GdsButtonMenuItem>Request more information</GdsButtonMenuItem>
            <GdsButtonMenuItem>Reject with reason</GdsButtonMenuItem>
        </GdsButtonMenu>
    </div>
</Example>

<h3 class="govuk-heading-m" id="note">Note</h3>
<p class="govuk-body">The <b>Classes</b> fields on both related components demoed on this page are redundant.</p>
@code {

}
