@page "/Components/Button"
@layout _ComponentsLayout

<PageTitle>Button</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Button</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/button/" class="govuk-link">Button</a>.
</p>

<Example CodeExampleContent="@(@"<GdsButton Type=""submit"">Save and continue</GdsButton>")">
    <GdsButton Type="submit">Save and continue</GdsButton>
</Example>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<Example CodeExampleContent="@(@"<GdsButton Type=""submit"">Save and continue</GdsButton>")">
    <GdsButton Type="submit">Save and continue</GdsButton>
</Example>

<h3 class="govuk-heading-m" id="start-buttons">Start buttons</h3>

<Example CodeExampleContent="@(@"<GdsButton Href=""#"" IsStartButton=@true>Start now</GdsButton>")">
    <GdsButton Href="#" IsStartButton=@true>Start now</GdsButton>
</Example>

<h3 class="govuk-heading-m" id="secondary-buttons">Secondary buttons</h3>

<Example CodeExampleContent="@(@"<GdsButton Type=""submit"" Classes=@ButtonColours.Secondary>Find address</GdsButton>")">
    <GdsButton Type="submit" Classes=@ButtonStyle.Secondary>Find address</GdsButton>
</Example>

<h3 class="govuk-heading-m" id="warning-buttons">Warning buttons</h3>

<Example CodeExampleContent="@(@"<GdsButton Type=""submit"" Classes=@ButtonColours.Warning>Delete account</GdsButton>")">
    <GdsButton Type="submit" Classes=@ButtonStyle.Warning>Delete account</GdsButton>
</Example>

<h3 class="govuk-heading-m" id="buttons-on-dark-backgrounds">Buttons on dark backgrounds</h3>

<Example CodeExampleContent="@(@"<GdsButton Type=""submit"" IsOnDarkBackground=@true>Create an account</GdsButton>")" Classes="dark-background">
    <GdsButton Type="submit" IsOnDarkBackground=@true>Create an account</GdsButton>
</Example>

<h3 class="govuk-heading-m" id="disabled-buttons">Disabled buttons</h3>

<Example CodeExampleContent="@(@"<GdsButton Type=""submit"" Disabled=@true>Disabled button</GdsButton>")">
    <GdsButton Type="submit" Disabled=@true>Disabled button</GdsButton>
</Example>

<h3 class="govuk-heading-m" id="grouping-buttons">Grouping buttons</h3>

<Example CodeExampleContent="@(@"<GdsButtonGroup>
    <GdsButton Type=""submit"">Save and continue</GdsButton>
    <GdsButton Type=""submit"" Classes=@ButtonColours.Secondary>Save as draft</GdsButton>
</GdsButtonGroup>")">
    <GdsButtonGroup>
        <GdsButton Type="submit">Save and continue</GdsButton>
        <GdsButton Type="submit" Classes=@ButtonStyle.Secondary>Save as draft</GdsButton>
    </GdsButtonGroup>
</Example>

<Example CodeExampleContent="@(@"<GdsButtonGroup>
    <GdsButton Type=""submit"">Continue</GdsButton>
    <GdsLink Href=""#"">Cancel</GdsLink>
</GdsButtonGroup>")">
    <GdsButtonGroup>
        <GdsButton Type="submit">Continue</GdsButton>
        <GdsLink Href="#">Cancel</GdsLink>
    </GdsButtonGroup>
</Example>

<h3 class="govuk-heading-m" id="stop-users-submitting-twice">Stop users from accidentally sending information more than once</h3>

<Example CodeExampleContent="@(@"<GdsButton Type=""submit"" PreventDoubleClick=@true>Confirm and send</GdsButton>")">
    <GdsButton Type="submit" PreventDoubleClick=@true>Confirm and send</GdsButton>
</Example>

@code {

}
