@page "/Components/CharacterCount"
@layout _ComponentsLayout

<PageTitle>Character count</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Character count</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/character-count/" class="govuk-link">Character count</a>.
</p>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>
<h3 class="govuk-heading-m" id="max-length">Maximum number of characters</h3>
<Example BlazorExampleContent="@(@"<GdsCharacterCount Id=""max-length"" Name=""maxNumCharacters"" MaxLength=""200"" @bind-Value=@InputValue>
    <LabelTemplate>
        <GdsLabel>
            Can you provide more detail?
        </GdsLabel>
    </LabelTemplate>
    <HintTemplate>
        <GdsHint>
            Do not include personal or financial information like your National Insurance number or credit card details
        </GdsHint>
    </HintTemplate>
</GdsCharacterCount>")"
         CodeExampleContent="@(@"@code{
    private string? InputValue { get; set; }
}")">
    <GdsCharacterCount Id="max-length" Name="maxNumCharacters" MaxLength="200" @bind-Value=@InputValue>
        <LabelTemplate>
            <GdsLabel>
                Can you provide more detail?
            </GdsLabel>
        </LabelTemplate>
        <HintTemplate>
            <GdsHint>
                Do not include personal or financial information like your National Insurance number or credit card details
            </GdsHint>
        </HintTemplate>
    </GdsCharacterCount>
</Example>
@code{
    private string? InputValue { get; set; }    
}

<h3 class="govuk-heading-m" id="label-as-page-heading">Label as page heading</h3>
<Example BlazorExampleContent="@(@"<GdsCharacterCount Id=""label-as-page-heading"" Name=""labelAsPageHeading"" MaxLength=""200"">
    <LabelTemplate>
        <GdsLabel Classes=@LabelSize.Large IsPageHeading=@true>
            Can you provide more detail?
        </GdsLabel>
    </LabelTemplate>
    <HintTemplate>
        <GdsHint>
            Do not include personal or financial information like your National Insurance number or credit card details
        </GdsHint>
    </HintTemplate>
</GdsCharacterCount>")">
    <GdsCharacterCount Id="label-as-page-heading" Name="labelAsPageHeading" MaxLength="200">
        <LabelTemplate>
            <GdsLabel Classes=@LabelSize.Large IsPageHeading=@true>
                Can you provide more detail?
            </GdsLabel>
        </LabelTemplate>
        <HintTemplate>
            <GdsHint>
                Do not include personal or financial information like your National Insurance number or credit card details
            </GdsHint>
        </HintTemplate>
    </GdsCharacterCount>
</Example>

<h3 class="govuk-heading-m" id="avoid-narrow-limits">Avoid narrow limits using threshold</h3>

<Example BlazorExampleContent="@(@"<GdsCharacterCount Id=""threshold""
                    Name=""threshold""
                    MaxLength=""15""
                    Threshold=""8""
                    Value=""This example of a textarea has a character limit of 15 characters."">
    <LabelTemplate>
        <GdsLabel Classes=@LabelSize.Large
                    IsPageHeading=@true>
            Can you provide more detail?
        </GdsLabel>
    </LabelTemplate>
</GdsCharacterCount>")">
    <GdsCharacterCount Id="threshold"
                       Name="threshold"
                       MaxLength="15"
                       Threshold="8"
                       Value="This example of a textarea has a character limit of 15 characters.">
        <LabelTemplate>
            <GdsLabel Classes=@LabelSize.Large
                      IsPageHeading=@true>
                Can you provide more detail?
            </GdsLabel>
        </LabelTemplate>
    </GdsCharacterCount>
</Example>

<h3 class="govuk-heading-m" id="with-hint">Using the hint template</h3>

<Example BlazorExampleContent="@(@"<GdsCharacterCount Id=""with-hint"" Name=""withHint"" MaxLength=""200"">
<LabelTemplate>
    <GdsLabel>
        Describe the nature of your event
    </GdsLabel>
        <HintTemplate>
            <div class=""govuk-hint"">
                Provide the date and time, the duration, the location and a brief description.
            </div>
        </HintTemplate>
</LabelTemplate>
</GdsCharacterCount>")">
    <GdsCharacterCount Id="with-hint" Name="withHint" MaxLength="200">
        <LabelTemplate>
            <GdsLabel>
                Describe the nature of your event
            </GdsLabel>
        </LabelTemplate>
        <HintTemplate>
            <div class="govuk-hint">
                Provide the date and time, the duration, the location and a brief description.
            </div>
        </HintTemplate>
    </GdsCharacterCount>
</Example>

<h3 class="govuk-heading-m" id="content-before-and-after-input">Content before and after the text area input</h3>
<h4 class="govuk-heading-s" id="before-input">Before the input</h4>

<Example BlazorExampleContent="@(@"<GdsCharacterCount Id=""before-input"" Name=""beforeInput"" MaxLength=""200"">
    <LabelTemplate>
        <GdsLabel>
            Describe the nature of your event
        </GdsLabel>
    </LabelTemplate>
    <BeforeInputTemplate>
        <p class=""govuk-body-s"">
            These are specific instructions in the before input template.
        </p>
    </BeforeInputTemplate>
</GdsCharacterCount>")">
    <GdsCharacterCount Id="before-input" Name="beforeInput" MaxLength="200">
        <LabelTemplate>
            <GdsLabel>
                Describe the nature of your event
            </GdsLabel>
        </LabelTemplate>
        <BeforeInputTemplate>
            <p class="govuk-body-s">
                These are specific instructions in the before input template.
            </p>
        </BeforeInputTemplate>
    </GdsCharacterCount>
</Example>

<h4 class="govuk-heading-s" id="after-input">After the input</h4>

<Example BlazorExampleContent="@(@"<GdsCharacterCount Id=""after-input"" Name=""afterInput"" MaxLength=""200"">
    <LabelTemplate>
        <GdsLabel>
            Describe the nature of your event
        </GdsLabel>
    </LabelTemplate>
    <AfterInputTemplate>
        <p class=""govuk-body-s"">
            These are specific instructions in the after input template.
        </p>
    </AfterInputTemplate>
</GdsCharacterCount>")">
    <GdsCharacterCount Id="after-input" Name="afterInput" MaxLength="200">
        <LabelTemplate>
            <GdsLabel>
                Describe the nature of your event
            </GdsLabel>
        </LabelTemplate>
        <AfterInputTemplate>
            <p class="govuk-body-s">
                These are specific instructions in the after input template.
            </p>
        </AfterInputTemplate>
    </GdsCharacterCount>
</Example>


<h4 class="govuk-heading-s" id="before-after-input">Before and after the input</h4>

<Example BlazorExampleContent="@(@"<GdsCharacterCount Id=""before-after-input"" Name=""beforeAfterInput"" MaxLength=""200"">
    <LabelTemplate>
        <GdsLabel>
            Describe the nature of your event
        </GdsLabel>
    </LabelTemplate>
    <BeforeInputTemplate>
        <p class=""govuk-body-s"">
            These are specific instructions in the before input template.
        </p>
    </BeforeInputTemplate>
    <AfterInputTemplate>
        <p class=""govuk-body-s"">
            These are specific instructions in the after input template.
        </p>
    </AfterInputTemplate>
</GdsCharacterCount>")">
    <GdsCharacterCount Id="before-after-input" Name="beforeAfterInput" MaxLength="200">
        <LabelTemplate>
            <GdsLabel>
                Describe the nature of your event
            </GdsLabel>
        </LabelTemplate>
        <BeforeInputTemplate>
            <p class="govuk-body-s">
                These are specific instructions in the before input template.
            </p>
        </BeforeInputTemplate>
        <AfterInputTemplate>
            <p class="govuk-body-s">
                These are specific instructions in the after input template.
            </p>
        </AfterInputTemplate>
    </GdsCharacterCount>
</Example>

<h3 class="govuk-heading-m" id="error-messages">Error messages</h3>

<Example BlazorExampleContent="@(@"<GdsCharacterCount Id=""exceeding-characters""
                   Name=""exceeding""
                   MaxLength=""15""
                   Value=""A content designer works on the end-to-end journey of a service to help users complete their goal."">
    <LabelTemplate>
        <GdsLabel Classes=@LabelSize.Large IsPageHeading=@true>
            Enter a job description
        </GdsLabel>
    </LabelTemplate>
    <ErrorMessageTemplate>
        <GdsErrorMessage>
            Job description must be 15 characters or less
        </GdsErrorMessage>
    </ErrorMessageTemplate>
</GdsCharacterCount>")">
    <GdsCharacterCount Id="exceeding-characters"
                       Name="exceeding"
                       MaxLength="15"
                       Value="A content designer works on the end-to-end journey of a service to help users complete their goal.">
        <LabelTemplate>
            <GdsLabel Classes=@LabelSize.Large IsPageHeading=@true>
                Enter a job description
            </GdsLabel>
        </LabelTemplate>
        <ErrorMessageTemplate>
            <GdsErrorMessage>
                Job description must be 15 characters or less
            </GdsErrorMessage>
        </ErrorMessageTemplate>
    </GdsCharacterCount>
</Example>

<h3 class="govuk-heading-m" id="addtional-custom-classes">Additional custom classes</h3>
<p class="govuk-body-s">
    The styles shown are for the demonstration of the functionality of this component. 
    <em>Ensure the styles used follow the GDS guidelines for the task you are trying to achieve.</em>
</p>

<Example BlazorExampleContent="@(@"<style type=""text/css"">
    .count-message {
        color: #d53880;
        font-weight: bold;
    }

    .outer-border {
        border: 3px dotted #b58840;
    }

    .custom-text-area
    {
        font-style: italic;
    }
</style>

<GdsCharacterCount Id=""additional-custom-classes"" 
                   Name=""customClasses"" 
                   MaxWords=""150"" 
                   Classes=""custom-text-area"" 
                   FormGroupClasses=""outer-border""
                   CountMessageClasses=""count-message""
                   Value=""The styles shown are for the demonstration of the functionality of this component. Ensure the styles used follow the GDS guidelines for the task you are trying to achieve."">
    <LabelTemplate>
        <GdsLabel>
            Enter a job description
        </GdsLabel>
    </LabelTemplate>
</GdsCharacterCount>")">

    <style type="text/css">
        .count-message {
            color: #d53880;
            font-weight: bold;
        }

        .outer-border {
            border: 3px dotted #b58840;
        }

        .custom-text-area
        {
            font-style: italic;
        }
    </style>
    <GdsCharacterCount Id="additional-custom-classes"
                       Name="customClasses"
                       MaxWords="150" 
                       Classes="custom-text-area" 
                       FormGroupClasses="outer-border"
                       CountMessageClasses="count-message"
                       Value="The styles shown are for the demonstration of the functionality of this component. Ensure the styles used follow the GDS guidelines for the task you are trying to achieve.">
        <LabelTemplate>
            <GdsLabel Classes=@LabelSize.Large
                      IsPageHeading=@true>
                Enter a job description
            </GdsLabel>
        </LabelTemplate>
    </GdsCharacterCount>
</Example>

<h3 class="govuk-heading-m" id="character-count-limit-text">Text for character count limits</h3>

<Example BlazorExampleContent="@(@"<GdsCharacterCount Id=""character-count-limit-text""
                   Name=""characterCountLimitText""
                   MaxLength=""60""
                   CharactersUnderLimitText=""You are under the %{count} character maximum.""
                   CharactersAtLimitText=""You have reached the maximum characters limit.""
                   CharactersOverLimitText=""You are over the %{count} character maximum.""
                   Value=""Type some more characters to see the limit text change"">
    <LabelTemplate>
        <GdsLabel>
            Enter a job description
        </GdsLabel>
    </LabelTemplate>
</GdsCharacterCount>")">
    <GdsCharacterCount Id="character-count-limit-text"
                       Name="characterCountLimitText"
                       MaxLength="60"
                       CharactersUnderLimitText="You are under the %{count} character maximum."
                       CharactersAtLimitText="You have reached the maximum character limit."
                       CharactersOverLimitText="You are over the %{count} character maximum."
                       Value="Type some more characters to see the limit text change">
        <LabelTemplate>
            <GdsLabel>
                Enter a job description
            </GdsLabel>
        </LabelTemplate>
    </GdsCharacterCount>
</Example>

<h3 class="govuk-heading-m" id="word-count-limit-text">Text for word count limits</h3>

<Example BlazorExampleContent="@(@"<GdsCharacterCount Id=""word-count-limit-text""
                   Name=""wordCountLimitText""
                   MaxWords=""10""
                   WordsUnderLimitText=""You are under the %{count} words limit.""
                   WordsAtLimitText=""You have reached the maximum number of words allowed.""
                   WordsOverLimitText=""You are over the %{count} words maximum.""
                   Value=""Type some more words to see the text change"">
    <LabelTemplate>
        <GdsLabel>
            Enter a job description
        </GdsLabel>
    </LabelTemplate>
</GdsCharacterCount>")">
    <GdsCharacterCount Id="word-count-limit-text"
                       Name="wordCountLimitText"
                       MaxWords="10"
                       WordsUnderLimitText="You are under the %{count} words limit."
                       WordsAtLimitText="You have reached the maximum number of words allowed."
                       WordsOverLimitText="You are over the %{count} words maximum."
                       Value="Type some more words to see the text change">
        <LabelTemplate>
            <GdsLabel>
                Enter a job description
            </GdsLabel>
        </LabelTemplate>
    </GdsCharacterCount>
</Example>


@code {

}
