@page "/Components/ErrorMessage"
@layout _ComponentsLayout

<PageTitle>Error message</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Error message</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/error-message/" class="govuk-link">Error message</a>.
</p>

<Example BlazorExampleContent="@(@"<GdsDateInput Id=""passport-issued"" Name=""passport-issued"">
    <LegendTemplate>
        <GdsLegend IsPageHeading=@true Classes=@FieldsetLegendSize.Large>
            When was your passport issued?
        </GdsLegend>
    </LegendTemplate>
    <HintTemplate>
        <GdsHint>For example, 27 3 2007</GdsHint>
    </HintTemplate>
    <ErrorMessageTemplate>
        <GdsErrorMessage>
            The date your passport was issued must be in the past
        </GdsErrorMessage>
    </ErrorMessageTemplate>
    <ChildContent>
        <GdsDateInputField HasError=@true DatePart=""@DateInputFieldType.Day"" Value=""6"" />
        <GdsDateInputField HasError=@true DatePart=""@DateInputFieldType.Month"" Value=""3"" />
        <GdsDateInputField HasError=@true DatePart=""@DateInputFieldType.Year"" Value=""2076"" />
    </ChildContent>
</GdsDateInput>")">
    <GdsDateInput Id="passport-issued" NamePrefix="passport-issued">
        <LegendTemplate>
            <GdsLegend IsPageHeading=@true Classes=@FieldsetLegendSize.Large>
                When was your passport issued?
            </GdsLegend>
        </LegendTemplate>
        <HintTemplate>
            <GdsHint>For example, 27 3 2007</GdsHint>
        </HintTemplate>
        <ErrorMessageTemplate>
            <GdsErrorMessage>
                The date your passport was issued must be in the past
            </GdsErrorMessage>
        </ErrorMessageTemplate>
        <ChildContent>
            <GdsDateInputField HasError=@true DatePart="@DateInputFieldType.Day" Value="6" />
            <GdsDateInputField HasError=@true DatePart="@DateInputFieldType.Month" Value="3" />
            <GdsDateInputField HasError=@true DatePart="@DateInputFieldType.Year" Value="2076" />
        </ChildContent>
    </GdsDateInput>
</Example>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<Example BlazorExampleContent="@(@"<GdsErrorMessage VisuallyHiddenText=""Gwall:"">
    Rhowch eich enw llawn
</GdsErrorMessage>")">
</Example>

<h3 class="govuk-heading-m" id="legend">Legend</h3>

<Example BlazorExampleContent="@(@"<GdsCheckboxes Name=""nationality"">
    <LegendTemplate>
        <GdsLegend IsPageHeading=@true Classes=@FieldsetLegendSize.Large>
            What is your nationality?
        </GdsLegend>
    </LegendTemplate>
    <HintTemplate>
        <GdsHint>
            If you have dual nationality, select all options that are relevant to you
        </GdsHint>
    </HintTemplate>
    <ErrorMessageTemplate>
        <GdsErrorMessage>Select if you are British, Irish or a citizen of a different country</GdsErrorMessage>
    </ErrorMessageTemplate>
    <ChildContent>
        <GdsCheckbox Value=""british"" Text=""British"">
            <HintTemplate>
                <GdsHint Classes=""govuk-checkboxes__hint"">including English, Scottish, Welsh and Northern Irish</GdsHint>
            </HintTemplate>
        </GdsCheckbox>
        <GdsCheckbox Value=""irish"">Irish</GdsCheckbox>
        <GdsCheckbox Value=""other"">Citizen of another country</GdsCheckbox>
    </ChildContent>
</GdsCheckboxes>")">
    <GdsCheckboxes Name="nationality">
        <LegendTemplate>
            <GdsLegend IsPageHeading=@true Classes=@FieldsetLegendSize.Large>
                What is your nationality?
            </GdsLegend>
        </LegendTemplate>
        <HintTemplate>
            <GdsHint>
                If you have dual nationality, select all options that are relevant to you
            </GdsHint>
        </HintTemplate>
        <ErrorMessageTemplate>
            <GdsErrorMessage>Select if you are British, Irish or a citizen of a different country</GdsErrorMessage>
        </ErrorMessageTemplate>
        <ChildContent>
            <GdsCheckbox Value="british" Text="British">
                <HintTemplate>
                    <GdsHint Classes="govuk-checkboxes__hint">including English, Scottish, Welsh and Northern Irish</GdsHint>
                </HintTemplate>
            </GdsCheckbox>
            <GdsCheckbox Value="irish">Irish</GdsCheckbox>
            <GdsCheckbox Value="other">Citizen of another country</GdsCheckbox>
        </ChildContent>
    </GdsCheckboxes>
</Example>

<h3 class="govuk-heading-m" id="label">Label</h3>

<Example BlazorExampleContent="@(@"<GdsTextInput Id=""national-insurance-number""
              Name=""nationalInsuranceNumber"">
    <LabelTemplate>
        <GdsLabel For=""national-insurance-number"">
            National Insurance number
        </GdsLabel>
    </LabelTemplate>
    <HintTemplate>
        <GdsHint>It’s on your National Insurance card, benefit letter, payslip or P60 – for example, ‘QQ 12 34 56 C’</GdsHint>
    </HintTemplate>
    <ErrorMessageTemplate>
        <GdsErrorMessage>
            Enter a National Insurance number in the correct format
        </GdsErrorMessage>
    </ErrorMessageTemplate>
</GdsTextInput>")">
    <GdsTextInput Id="national-insurance-number"
                  Name="nationalInsuranceNumber">
        <LabelTemplate>
            <GdsLabel For="national-insurance-number">
                National Insurance number
            </GdsLabel>
        </LabelTemplate>
        <HintTemplate>
            <GdsHint>It’s on your National Insurance card, benefit letter, payslip or P60 – for example, ‘QQ 12 34 56 C’</GdsHint>
        </HintTemplate>
        <ErrorMessageTemplate>
            <GdsErrorMessage>
                Enter a National Insurance number in the correct format
            </GdsErrorMessage>
        </ErrorMessageTemplate>
    </GdsTextInput>
</Example>