@page "/Components/Pagination"
@layout _ComponentsLayout

<PageTitle>Pagination</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Pagination</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/pagination/" class="govuk-link">Pagination</a>.
</p>

<Example BlazorExampleContent="@(@"<GdsPagination @bind-ActivePageNumber=@activePageNumber>
    <PreviousTemplate>
        <GdsPaginationPreviousLink />
    </PreviousTemplate>
    <ChildContent>
        <GdsPaginationLink Number=""1"" />
        <GdsPaginationLink Number=""2"" />
        <GdsPaginationLink Number=""3"" />
    </ChildContent>
    <NextTemplate>
        <GdsPaginationNextLink />
    </NextTemplate>
</GdsPagination>")"
CodeExampleContent="@(@"@code{
    string activePageNumber = ""2"";
    public void PageChanged(string pageNumber){
        /* Code here */
    }
}")">
    <GdsPagination @bind-ActivePageNumber=@activePageNumber OnPageChanged=@PageChanged>
        <PreviousTemplate>
            <GdsPaginationPreviousLink />
        </PreviousTemplate>
        <ChildContent>
            <GdsPaginationLink Number="1" />
            <GdsPaginationLink Number="2" />
            <GdsPaginationLink Number="3" />
        </ChildContent>
        <NextTemplate>
            <GdsPaginationNextLink />
        </NextTemplate>
    </GdsPagination>
</Example>

@code{
    string activePageNumber = "2";
    public void PageChanged(string pageNumber){
        /* Code here */
    }
}

<h2 class="govuk-heading-l" id="for-navigating-between-content-pages">For navigating between content pages</h2>

<Example BlazorExampleContent="@(@"<GdsPagination UseBlockStyle=@true>
    <PreviousTemplate>
        <GdsPaginationPreviousLink OnPreviousClick=@NavigateToPrev LabelText=""Applying for a provisional lorry or bus licence"" />
    </PreviousTemplate>
    <NextTemplate>
        <GdsPaginationNextLink OnNextClick=@NavigateToNext LabelText=""Driver CPC part 1 test: theory"" />
    </NextTemplate>
</GdsPagination>")" CodeExampleContent="@(@"
    private void NavigateToNext (MouseEventArgs args) {
        /* Code to navigate to Next Page here */
    }

    private void NavigateToPrev (MouseEventArgs args)
    {
        /* Code to navigate to Previous Page here */
    }
")">
    <GdsPagination UseBlockStyle=@true>
        <PreviousTemplate>
            <GdsPaginationPreviousLink OnPreviousClick=@NavigateToPrev LabelText="Applying for a provisional lorry or bus licence" />
        </PreviousTemplate>
        <NextTemplate>
            <GdsPaginationNextLink OnNextClick=@NavigateToNext LabelText="Driver CPC part 1 test: theory" />
        </NextTemplate>
    </GdsPagination>
    <p class="govuk-body">@navigateResult</p>
</Example>
@code {
    private string? navigateResult;

    private void NavigateToNext (MouseEventArgs args) {
        /* Code to navigate to Next Page here */
        navigateResult = "You have navigated to the next page: Driver CPC part 1 test: theory.";
    }

    private void NavigateToPrev (MouseEventArgs args)
    {
        /* Code to navigate to Previous Page here */
        navigateResult = "You have navigated to the previous page: Applying for a provisional lorry or bus licence.";
    }
}

<h2 class="govuk-heading-l" id="for-navigating-between-pages-of-items">For navigating between pages of items</h2>

<Example BlazorExampleContent="@(@"<GdsPagination ActivePageNumber=""7"">
    <PreviousTemplate>
        <GdsPaginationPreviousLink />
    </PreviousTemplate>
    <ChildContent>
        <GdsPaginationLink Number=""1"" />
        <GdsPaginationLink Number=""2"" />
        <GdsPaginationLink Number=""3"" />
        <GdsPaginationLink Number=""4"" />
        <GdsPaginationLink Number=""5"" />
        <GdsPaginationLink Number=""6"" />
        <GdsPaginationLink Number=""7"" />
        <GdsPaginationLink Number=""8"" />
        <GdsPaginationLink Number=""9"" />
        <GdsPaginationLink Number=""10"" />
        <GdsPaginationLink Number=""11"" />
        <GdsPaginationLink Number=""12"" />
        <GdsPaginationLink Number=""13"" />
        <GdsPaginationLink Number=""14"" />
        <GdsPaginationLink Number=""15"" />
        <GdsPaginationLink Number=""16"" />
        <GdsPaginationLink Number=""17"" />
        <GdsPaginationLink Number=""18"" />
        <GdsPaginationLink Number=""19"" />
        <GdsPaginationLink Number=""20"" />
        <GdsPaginationLink Number=""21"" />
        <GdsPaginationLink Number=""22"" />
        <GdsPaginationLink Number=""23"" />
        <GdsPaginationLink Number=""24"" />
    </ChildContent>
    <NextTemplate>
        <GdsPaginationNextLink />
    </NextTemplate>
</GdsPagination>")">
    <GdsPagination>
        <PreviousTemplate>
            <GdsPaginationPreviousLink />
        </PreviousTemplate>
        <ChildContent>
            <GdsPaginationLink Number="1" />
            <GdsPaginationLink Number="2" />
            <GdsPaginationLink Number="3" />
            <GdsPaginationLink Number="4" />
            <GdsPaginationLink Number="5" />
            <GdsPaginationLink Number="6" />
            <GdsPaginationLink Number="7" />
            <GdsPaginationLink Number="8" />
            <GdsPaginationLink Number="9" />
            <GdsPaginationLink Number="10" />
            <GdsPaginationLink Number="11" />
            <GdsPaginationLink Number="12" />
            <GdsPaginationLink Number="13" />
            <GdsPaginationLink Number="14" />
            <GdsPaginationLink Number="15" />
            <GdsPaginationLink Number="16" />
            <GdsPaginationLink Number="17" />
            <GdsPaginationLink Number="18" />
            <GdsPaginationLink Number="19" />
            <GdsPaginationLink Number="20" />
            <GdsPaginationLink Number="21" />
            <GdsPaginationLink Number="22" />
            <GdsPaginationLink Number="23" />
            <GdsPaginationLink Number="24" />
        </ChildContent>
        <NextTemplate>
            <GdsPaginationNextLink />
        </NextTemplate>
    </GdsPagination>
</Example>

<h3 class="govuk-heading-m" id="first-and-last-pages">First and last pages</h3>

<Example BlazorExampleContent="@(@"<GdsPagination>
    <PreviousTemplate>
        <GdsPaginationPreviousLink />
    </PreviousTemplate>
    <ChildContent>
        <GdsPaginationLink Number=""1"" />
        <GdsPaginationLink Number=""2"" />
        <GdsPaginationLink Number=""3"" />
    </ChildContent>
    <NextTemplate>
        <GdsPaginationNextLink />
    </NextTemplate>
</GdsPagination>")">
    <GdsPagination>
        <PreviousTemplate>
            <GdsPaginationPreviousLink />
        </PreviousTemplate>
        <ChildContent>
            <GdsPaginationLink Number="1" />
            <GdsPaginationLink Number="2" />
            <GdsPaginationLink Number="3" />
        </ChildContent>
        <NextTemplate>
            <GdsPaginationNextLink />
        </NextTemplate>
    </GdsPagination>
</Example>

<Example BlazorExampleContent="@(@"<GdsPagination ActivePageNumber=""3"">
    <PreviousTemplate>
        <GdsPaginationPreviousLink />
    </PreviousTemplate>
    <ChildContent>
        <GdsPaginationLink Number=""1"" />
        <GdsPaginationLink Number=""2"" />
        <GdsPaginationLink Number=""3"" />
    </ChildContent>
    <NextTemplate>
        <GdsPaginationNextLink />
    </NextTemplate>
</GdsPagination>")">
    <GdsPagination>
        <PreviousTemplate>
            <GdsPaginationPreviousLink />
        </PreviousTemplate>
        <ChildContent>
            <GdsPaginationLink Number="1" />
            <GdsPaginationLink Number="2" />
            <GdsPaginationLink Number="3" />
        </ChildContent>
        <NextTemplate>
            <GdsPaginationNextLink />
        </NextTemplate>
    </GdsPagination>
</Example>

<h3 class="govuk-heading-m" id="prev-next-text">Custom content for Previous and Next</h3>

<Example BlazorExampleContent="@(@"<GdsPagination ActivePageNumber=""3"">
    <PreviousTemplate>
        <GdsPaginationPreviousLink>GO TO THE PREVIOUS</GdsPaginationPreviousLink>
    </PreviousTemplate>
    <ChildContent>
        <GdsPaginationLink Number=""1"" />
        <GdsPaginationLink Number=""2"" />
        <GdsPaginationLink Number=""3"" />
    </ChildContent>
    <NextTemplate>
        <GdsPaginationNextLink>GO TO THE NEXT</GdsPaginationNextLink>
    </NextTemplate>
</GdsPagination>")">
    <GdsPagination>
        <PreviousTemplate>
            <GdsPaginationPreviousLink>GO TO THE PREVIOUS</GdsPaginationPreviousLink>
        </PreviousTemplate>
        <ChildContent>
            <GdsPaginationLink Number="1" />
            <GdsPaginationLink Number="2" />
            <GdsPaginationLink Number="3" />
        </ChildContent>
        <NextTemplate>
			<GdsPaginationNextLink>GO TO THE NEXT</GdsPaginationNextLink>
        </NextTemplate>
    </GdsPagination>
</Example>

@code {
}
