@page "/Components/TaskList"
@layout _ComponentsLayout

<PageTitle>Task list</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Task list</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/task-list/" class="govuk-link">Task list</a>.
</p>

<Example BlazorExampleContent="@(@"<GdsTaskList Id=""tasklist-example"">
    <GdsTaskListItem Href=""/Components/TaskList#link-to-task"">
        <TaskTitleTemplate>Confirm eligibility</TaskTitleTemplate>
        <StatusTemplate>Completed</StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#link-to-task"">
        <TaskTitleTemplate>Confirm agreement acceptance</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.LightBlue"">In progress</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#link-to-task"">
        <TaskTitleTemplate>Confirm agreement acceptance</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Blue"">Incomplete</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#link-to-task"">
        <TaskTitleTemplate>Personal details</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Blue"">Not yet started</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
</GdsTaskList>")">
    <GdsTaskList Id="tasklist-example">
        <GdsTaskListItem Href="/Components/TaskList#link-to-task">
            <TaskTitleTemplate>Confirm eligibility</TaskTitleTemplate>
            <StatusTemplate>Completed</StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#link-to-task">
            <TaskTitleTemplate>Confirm agreement acceptance</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.LightBlue">In progress</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#link-to-task">
            <TaskTitleTemplate>Confirm agreement acceptance</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Blue">Incomplete</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#link-to-task">
            <TaskTitleTemplate>Personal details</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Blue">Not yet started</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
    </GdsTaskList>
</Example>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<h3 class="govuk-heading-m" id="task-title">Task title or name</h3>
<p class="govuk-body">All tasks must have a title or name to give the user reasonable expectation of what the task is about. Use sentence case and keep it short.</p>

<h3 class="govuk-heading-m" id="common-task-statuses">Common task statuses</h3>
<p class="govuk-body">
    All tasks must have a short descriptor to give the users a quick overview of how much they have completed and how much is left to do. Most statuses use coloured tags and there are a set of common statuses to ensure consistent wording.
</p>
<h3 class="govuk-heading-m" id="task-link">A link to the task page</h3>
<p class="govuk-body">All tasks have a link to a page where users can start the task.</p>

<Example BlazorExampleContent="@(@"<GdsTaskList Id=""tasklist-common"">
    <GdsTaskListItem Href=""/Components/TaskList#link-to-task"">
        <TaskTitleTemplate>Confirm eligibility</TaskTitleTemplate>
        <StatusTemplate>Completed</StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#link-to-task"">
        <TaskTitleTemplate>Confirm agreement acceptance</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.LightBlue"">In progress</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#link-to-task"">
        <TaskTitleTemplate>Confirm task acceptance</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Blue"">Incomplete</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#link-to-task"">
        <TaskTitleTemplate>Personal details</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Blue"">Not yet started</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#link-to-task"" CannotStartTask>
        <TaskTitleTemplate>Contact details</TaskTitleTemplate>
        <StatusTemplate>Cannot start yet</StatusTemplate>
    </GdsTaskListItem>
</GdsTaskList>")">
    <GdsTaskList Id="tasklist-common">
        <GdsTaskListItem Href="/Components/TaskList#link-to-task">
            <TaskTitleTemplate>Confirm eligibility</TaskTitleTemplate>
            <StatusTemplate>Completed</StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#link-to-task">
            <TaskTitleTemplate>Confirm agreement acceptance</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.LightBlue">In progress</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#link-to-task">
            <TaskTitleTemplate>Confirm task acceptance</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Blue">Incomplete</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#link-to-task">
            <TaskTitleTemplate>Personal details</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Blue">Not yet started</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#link-to-task" CannotStartTask>
            <TaskTitleTemplate>Contact details</TaskTitleTemplate>
            <StatusTemplate>Cannot start yet</StatusTemplate>
        </GdsTaskListItem>
    </GdsTaskList>
</Example>

<h3 class="govuk-heading-m" id="use-hint-text-if-needed">Hint text</h3>
<p class="govuk-body">Use hint text with tasks only if more information is needed about what the task will include.</p>
<Example BlazorExampleContent="@(@"<GdsTaskList Id=""tasklist-common"">
    <GdsTaskListItem Href=""/Components/TaskList#use-hint-text-if-needed"">
        <TaskTitleTemplate>Confirm eligibility</TaskTitleTemplate>
        <StatusTemplate>Completed</StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#use-hint-text-if-needed"" CannotStartTask>
        <TaskTitleTemplate>Contact details</TaskTitleTemplate>
        <StatusTemplate>Cannot start yet</StatusTemplate>
        <HintTemplate>Personal details need to be confirmed from human resources</HintTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#use-hint-text-if-needed"">
        <TaskTitleTemplate>Employment history</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.LightBlue"">In progress</GdsTag>
        </StatusTemplate>
        <HintTemplate>Include reference details and a copy of your recent CV</HintTemplate>
    </GdsTaskListItem>
</GdsTaskList>")">
    <GdsTaskList Id="tasklist-common">
        <GdsTaskListItem Href="/Components/TaskList#use-hint-text-if-needed">
            <TaskTitleTemplate>Confirm eligibility</TaskTitleTemplate>
            <StatusTemplate>Completed</StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#use-hint-text-if-needed" CannotStartTask>
            <TaskTitleTemplate>Contact details</TaskTitleTemplate>
            <StatusTemplate>Cannot start yet</StatusTemplate>
            <HintTemplate>Personal details need to be confirmed from human resources</HintTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#use-hint-text-if-needed">
            <TaskTitleTemplate>Employment history</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.LightBlue">In progress</GdsTag>
            </StatusTemplate>
            <HintTemplate>Include reference details and a copy of your recent CV</HintTemplate>
        </GdsTaskListItem>
    </GdsTaskList>
</Example>


<h3 class="govuk-heading-m" id="tasks-cannot-start">Tasks that cannot yet be started</h3>
<p class="govuk-body">
    Use the "Cannot start yet" status, and set the "CannotStartYet" attribute on the task item. Also include hint text to explain the reason why the task cannot be started. Note the item is not linked.
</p>
<Example BlazorExampleContent="@(@"<GdsTaskList Id=""tasklist-cannot-start"">
    <GdsTaskListItem Href=""/Components/TaskList#tasks-cannot-start"">
        <TaskTitleTemplate>Confirm eligibility</TaskTitleTemplate>
        <StatusTemplate>Completed</StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#tasks-cannot-start"">
        <TaskTitleTemplate>Personal details</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Blue"">In progress</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#tasks-cannot-start"" CannotStartTask>
        <TaskTitleTemplate>Contact details</TaskTitleTemplate>
        <StatusTemplate>Cannot start yet</StatusTemplate>
        <HintTemplate>Personal details need to be confirmed from human resources</HintTemplate>
    </GdsTaskListItem>
</GdsTaskList>")">
    <GdsTaskList Id="tasklist-cannot-start">
        <GdsTaskListItem Href="/Components/TaskList#tasks-cannot-start">
            <TaskTitleTemplate>Confirm eligibility</TaskTitleTemplate>
            <StatusTemplate>Completed</StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#tasks-cannot-start">
            <TaskTitleTemplate>Personal details</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Blue">In progress</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#tasks-cannot-start" CannotStartTask>
            <TaskTitleTemplate>Contact details</TaskTitleTemplate>
            <StatusTemplate>Cannot start yet</StatusTemplate>
            <HintTemplate>Personal details need to be confirmed from human resources</HintTemplate>
        </GdsTaskListItem>
    </GdsTaskList>
</Example>

<h3 class="govuk-heading-m" id="tasks-containing-error">Tasks containing an error</h3>
<p class="govuk-body">
    Ideally, you should avoid tasks with an error status by using the appropriate error display component where possible.
</p>
<Example BlazorExampleContent="@(@"<GdsTaskList Id=""tasklist-errors"">
    <GdsTaskListItem Href=""/Components/TaskList#tasks-containing-error"">
        <TaskTitleTemplate>Confirm eligibility</TaskTitleTemplate>
        <StatusTemplate>Completed</StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#tasks-containing-error"">
        <TaskTitleTemplate>Personal details</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Blue"">In progress</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#tasks-containing-error"">
        <TaskTitleTemplate>Contact details</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Red"">There is a problem</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
</GdsTaskList>")">
    <GdsTaskList Id="tasklist-errors">
        <GdsTaskListItem Href="/Components/TaskList#tasks-containing-error">
            <TaskTitleTemplate>Confirm eligibility</TaskTitleTemplate>
            <StatusTemplate>Completed</StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#tasks-containing-error">
            <TaskTitleTemplate>Personal details</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Blue">In progress</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#tasks-containing-error">
            <TaskTitleTemplate>Contact details</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Red">There is a problem</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
    </GdsTaskList>
</Example>


<h3 class="govuk-heading-m" id="additional-task-statuses">Additional task statuses</h3>
<p class="govuk-body">
    If additional status tags are required, you can use other coloured tags. The list below shows the colours that have not been used so far. Also note the use of arbitrary text for the title and statuses - still within the guidelines mentioned so far.
</p>
<Example BlazorExampleContent="@(@"<GdsTaskList Id=""tasklist-additional-statuses"">
    <GdsTaskListItem Href=""/Components/TaskList#tasks-additional-statuses"">
        <TaskTitleTemplate>Task grey</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Grey"">Grey status</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#tasks-additional-statuses"">
        <TaskTitleTemplate>Task green</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Green"">Green status</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#tasks-additional-statuses"">
        <TaskTitleTemplate>Task turquoise</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Turquoise"">Turquoise status</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#tasks-additional-statuses"">
        <TaskTitleTemplate>Task purple</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Purple"">Purple status</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#tasks-additional-statuses"">
        <TaskTitleTemplate>Task pink</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Pink"">Pink status</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#tasks-additional-statuses"">
        <TaskTitleTemplate>Task orange</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Orange"">Orange status</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
    <GdsTaskListItem Href=""/Components/TaskList#tasks-additional-statuses"">
        <TaskTitleTemplate>Task yellow</TaskTitleTemplate>
        <StatusTemplate>
            <GdsTag Classes=""@TagClasses.Yellow"">Yellow status</GdsTag>
        </StatusTemplate>
    </GdsTaskListItem>
</GdsTaskList>")">
    <GdsTaskList Id="tasklist-additional-statuses">
        <GdsTaskListItem Href="/Components/TaskList#tasks-additional-statuses">
            <TaskTitleTemplate>Task grey</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Grey">Grey status</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#tasks-additional-statuses">
            <TaskTitleTemplate>Task green</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Green">Green status</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#tasks-additional-statuses">
            <TaskTitleTemplate>Task turquoise</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Turquoise">Turquoise status</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#tasks-additional-statuses">
            <TaskTitleTemplate>Task purple</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Purple">Purple status</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#tasks-additional-statuses">
            <TaskTitleTemplate>Task pink</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Pink">Pink status</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#tasks-additional-statuses">
            <TaskTitleTemplate>Task orange</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Orange">Orange status</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/Components/TaskList#tasks-additional-statuses">
            <TaskTitleTemplate>Task yellow</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Yellow">Yellow status</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
    </GdsTaskList>
</Example>

<h2 class="govuk-heading-l" id="complete-multiple-tasks">Completing multiple task lists</h2>

<p class="govuk-body">
    If there are a lot of tasks to complete, grouping them into multiple lists makes it easier for users to understand and plan what they need to do. See <a href="https://design-system.service.gov.uk/patterns/complete-multiple-tasks/" class="govuk-link">complete multiple tasks pattern</a> @*showcase*@ for more details.
</p>

