@page "/Components/TextArea"
@layout _ComponentsLayout

<PageTitle>Text area</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Text area</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/text-area/" class="govuk-link">Text area</a>.
</p>

<Example CodeExampleContent="@(@"<GdsTextArea Id=""more-detail""
              Name=""moreDetail"">
    <LabelTemplate>
        <GdsLabel For=""more-detail"" 
                  Classes=""@LabelSize.Large""
                  IsPageHeading=""true"">
            Can you provide more detail?
        </GdsLabel>
    </LabelTemplate>
    <HintTemplate>
		<GdsHint Id=""more-detail-hint"">
            Do not include personal or financial information,
            like your National Insurance number or credit card
            details
        </GdsHint>
    </HintTemplate>
</GdsTextArea>")">
    <GdsTextArea Id="more-detail"
                 Name="moreDetail">
        <LabelTemplate>
            <GdsLabel For="more-detail"
                      Classes="@LabelSize.Large" 
                      IsPageHeading="true">
                Can you provide more detail?
            </GdsLabel>
        </LabelTemplate>
        <HintTemplate>
			<GdsHint Id="more-detail-hint">
                Do not include personal or financial information,
                like your National Insurance number or credit card 
                details
            </GdsHint>
        </HintTemplate>
    </GdsTextArea>
</Example>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<Example CodeExampleContent="@(@"<GdsTextArea Id=""more-detail""
              Name=""moreDetail"">
    <LabelTemplate>
        <GdsLabel For=""more-detail""
                  Classes=""@LabelSize.Large""
                  IsPageHeading=""true"">
            Can you provide more detail?
        </GdsLabel>
    </LabelTemplate>
    <HintTemplate>
		<GdsHint Id=""more-detail-hint"">
            Do not include personal or financial information,
            like your National Insurance number or credit card
            details
        </GdsHint>
    </HintTemplate>
</GdsTextArea>")">
    <GdsTextArea Id="more-detail"
                 Name="moreDetail">
        <LabelTemplate>
            <GdsLabel For="more-detail"
                      Classes="@LabelSize.Large"
                      IsPageHeading="true">
                Can you provide more detail?
            </GdsLabel>
        </LabelTemplate>
        <HintTemplate>
            <GdsHint Id="more-detail-hint">
                Do not include personal or financial information,
                like your National Insurance number or credit card
                details
            </GdsHint>
        </HintTemplate>
    </GdsTextArea>
</Example>

<h3 class="govuk-heading-m" id="use-appropriately-sized">Use appropriately-sized textareas</h3>

<Example CodeExampleContent="@(@"<GdsTextArea Id=""more-detail""
              Name=""moreDetail""
              Rows=""8"">
    <LabelTemplate>
        <GdsLabel For=""more-detail""
                  Classes=""@LabelSize.Large""
                  IsPageHeading=""true"">
            Can you provide more detail?
        </GdsLabel>
    </LabelTemplate>
    <HintTemplate>
		<GdsHint Id=""more-detail-hint"">
            Do not include personal or financial information,
            like your National Insurance number or credit card
            details
        </GdsHint>
    </HintTemplate>
</GdsTextArea>")">
    <GdsTextArea Id="more-detail"
                 Name="moreDetail"
                 Rows="8">
        <LabelTemplate>
            <GdsLabel For="more-detail"
                      Classes="@LabelSize.Large"
                      IsPageHeading="true">
                Can you provide more detail?
            </GdsLabel>
        </LabelTemplate>
        <HintTemplate>
            <GdsHint Id="more-detail-hint">
                Do not include personal or financial information,
                like your National Insurance number or credit card
                details
            </GdsHint>
        </HintTemplate>
    </GdsTextArea>
</Example>

<h3 class="govuk-heading-m" id="asking-more-than-one-question">
    If you’re asking more than one question on the page
</h3>

<Example CodeExampleContent="@(@"<GdsTextArea Id=""more-detail""
              Name=""moreDetail"">
    <LabelTemplate>
        <GdsLabel For=""more-detail"">
            Can you provide more detail?
        </GdsLabel>
    </LabelTemplate>
</GdsTextArea>")">
    <GdsTextArea Id="more-detail"
                 Name="moreDetail">
        <LabelTemplate>
            <GdsLabel For="more-detail">
                Can you provide more detail?
            </GdsLabel>
        </LabelTemplate>
    </GdsTextArea>
</Example>

<h3 class="govuk-heading-m" id="error-message">
    Error messages
</h3>

<Example CodeExampleContent="@(@"<GdsTextArea Id=""more-detail""
                Name=""moreDetail"">
    <LabelTemplate>
        <GdsLabel For=""more-detail""
                    Classes=""@LabelSize.Large""
                    IsPageHeading=""true"">
            Can you provide more detail?
        </GdsLabel>
    </LabelTemplate>
    <HintTemplate>
        <GdsHint Id=""more-detail-hint"">
            Do not include personal or financial information,
            like your National Insurance number or credit card
            details
        </GdsHint>
    </HintTemplate>
    <ErrorMessageTemplate>
        <GdsErrorMessage Id=""more-detail-error"">Enter more detail</GdsErrorMessage>
    </ErrorMessageTemplate>
</GdsTextArea>")">
    <GdsTextArea Id="more-detail"
                 Name="moreDetail">
        <LabelTemplate>
            <GdsLabel For="more-detail"
                      Classes="@LabelSize.Large"
                      IsPageHeading="true">
                Can you provide more detail?
            </GdsLabel>
        </LabelTemplate>
        <HintTemplate>
            <GdsHint Id="more-detail-hint">
                Do not include personal or financial information,
                like your National Insurance number or credit card
                details
            </GdsHint>
        </HintTemplate>
        <ErrorMessageTemplate>
            <GdsErrorMessage Id="more-detail-error">Enter more detail</GdsErrorMessage>
        </ErrorMessageTemplate>
    </GdsTextArea>
</Example>
