@inherits BunitContext

@code {
    [Fact]
    public void ThenOutputsLinkWithIdAndHref()
    {
        // Arrange
        var id = "hello-world";
        var message = "Hello World";
        var href = "/linky";

        var component = Render(@<GdsLink Id=@id Href=@href DataTestId="GdsLink">@message</GdsLink>);

        component.MarkupMatches(
    @<a id=@id class="govuk-link" href=@href data-testid="GdsLink">
        @message
    </a>
        );
    }

    [Fact]
    public void WhenNoVisitedStateClassIsSet_ThenOutputsLinkWithNoVisitedStateClass()
    {
        // Arrange
        var id = "hello-world";
        var message = "Hello World";
        var href = "/linky";

        var component = Render(@<GdsLink Id=@id Href=@href Classes=@GdsLinkClasses.NoVisitedState>@message</GdsLink>);

        component.MarkupMatches(
    @<a id=@id class="govuk-link govuk-link--no-visited-state" href=@href>
        @message
    </a>
        );
    }

    [Fact]
    public void WhenOpenInNewTabIsSetToTrue_ThenOutputsAttributesForOpeningALinkInNewTab()
    {
        // Arrange
        var id = "hello-world";
        var message = "Hello World";
        var href = "/linky";

        var component = Render(@<GdsLink Id=@id Href=@href OpenInNewTab=@true>@message</GdsLink>);

        component.MarkupMatches(
    @<a id=@id class="govuk-link" href=@href rel="noreferrer noopener" target="_blank">
        @message
    </a>
        );
    }

    [Fact]
    public void WhenIsOnDarkBackgroundIsSet_ThenOutputsLinkForDarkBackground()
    {
        // Arrange
        var id = "hello-world";
        var message = "Hello World";
        var href = "/linky";

        var component = Render(@<GdsLink Id=@id Href=@href IsOnDarkBackground=@true>@message</GdsLink>);

        component.MarkupMatches(
    @<a id=@id class="govuk-link govuk-link--inverse" href=@href>
        @message
    </a>
        );
    }

    [Fact]
    public void WhenNoUnderlineClassIsSet_ThenOutputsLinkWithNoUnderlineClass()
    {
        // Arrange
        var id = "hello-world";
        var message = "Hello World";
        var href = "/linky";

        var component = Render(@<GdsLink Id=@id Href=@href Classes=@GdsLinkClasses.NoUnderline>@message</GdsLink>);

        component.MarkupMatches(
    @<a id=@id class="govuk-link govuk-link--no-underline" href=@href>
        @message
    </a>
        );
    }
}
