@inherits BunitContext

@code {
    [Fact]
    public void OutputsCommonStatuses()
    {
        var component = Render(
    @<GdsTaskList Id="tasklist-test" DataTestId="GdsTaskList">
        <GdsTaskListItem Href="/task-page-1" DataTestId="GdsTaskListItem">
            <TaskTitleTemplate>The completed task</TaskTitleTemplate>
            <StatusTemplate>Completed</StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/task-page-2">
            <TaskTitleTemplate>An incompleted task</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Blue">Incomplete</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/task-page-3">
            <TaskTitleTemplate>Incomplete task with hint text</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Blue">Incomplete</GdsTag>
            </StatusTemplate>
            <HintTemplate>This is a hint, a short sentence with no links or full stops</HintTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/task-page-4">
            <TaskTitleTemplate>In progress item</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.LightBlue">In progress</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/task-page-5">
            <TaskTitleTemplate>Not yet started item</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Blue">Not yet started</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/task-page-6">
            <TaskTitleTemplate>Item has a problem or error</TaskTitleTemplate>
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Red">There is a problem</GdsTag>
            </StatusTemplate>
        </GdsTaskListItem>
    </GdsTaskList>
    );

        component.MarkupMatches(
@<ul class="govuk-task-list" data-testid="GdsTaskList">
    <li class="govuk-task-list__item govuk-task-list__item--with-link" data-testid="GdsTaskListItem">
        <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/task-page-1" aria-describedby="tasklist-test-1-status">
                The completed task
            </a>
        </div>
        <div class="govuk-task-list__status" id="tasklist-test-1-status">
            Completed
        </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/task-page-2" aria-describedby="tasklist-test-2-status">
                An incompleted task
            </a>
        </div>
        <div class="govuk-task-list__status" id="tasklist-test-2-status">
            <strong class="govuk-tag govuk-tag--blue">
                Incomplete
            </strong>
        </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/task-page-3" aria-describedby="tasklist-test-3-hint tasklist-test-3-status">
                Incomplete task with hint text
            </a>
            <div id="tasklist-test-3-hint" class="govuk-task-list__hint">
                This is a hint, a short sentence with no links or full stops
            </div>
        </div>
        <div class="govuk-task-list__status" id="tasklist-test-3-status">
            <strong class="govuk-tag govuk-tag--blue">
                Incomplete
            </strong>
        </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/task-page-4" aria-describedby="tasklist-test-4-status">
                In progress item
            </a>
        </div>
        <div class="govuk-task-list__status" id="tasklist-test-4-status">
            <strong class="govuk-tag govuk-tag--light-blue">
                In progress
            </strong>
        </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/task-page-5" aria-describedby="tasklist-test-5-status">
                Not yet started item
            </a>
        </div>
        <div class="govuk-task-list__status" id="tasklist-test-5-status">
            <strong class="govuk-tag govuk-tag--blue">
                Not yet started
            </strong>
        </div>
    </li>
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/task-page-6" aria-describedby="tasklist-test-6-status">
                Item has a problem or error
            </a>
        </div>
        <div class="govuk-task-list__status" id="tasklist-test-6-status">
            <strong class="govuk-tag govuk-tag--red">
                There is a problem
            </strong>
        </div>
    </li>
</ul>
        );
    }

    [Fact]
    public void OutputsCannotStartYetStatus()
    {
        var component = Render(
    @<GdsTaskList Id="tasklist-test">
        <GdsTaskListItem CannotStartTask>
            <TaskTitleTemplate>Task item title 1</TaskTitleTemplate>
            <HintTemplate>Some hint text here 1</HintTemplate>
            <StatusTemplate>Cannot start yet</StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/link-that-should-not-be-used" CannotStartTask>
            <TaskTitleTemplate>Task item title 2</TaskTitleTemplate>
            <HintTemplate>Some hint text here 2</HintTemplate>
            <StatusTemplate>Cannot start yet</StatusTemplate>
        </GdsTaskListItem>
    </GdsTaskList>
    );

        component.MarkupMatches(
@<ul class="govuk-task-list">
    <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
            <div>
                Task item title 1
            </div>
            <div id="tasklist-test-1-hint" class="govuk-task-list__hint">
                Some hint text here 1
            </div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="tasklist-test-1-status">
            Cannot start yet
        </div>
    </li>
    <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
            <div>
                Task item title 2
            </div>
            <div id="tasklist-test-2-hint" class="govuk-task-list__hint">
                Some hint text here 2
            </div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="tasklist-test-2-status">
            Cannot start yet
        </div>
    </li>
</ul>
        );
    }

    [Fact]
    public void ThrowsErrorWhenTitleNotSet()
    {
        Assert.Throws<ArgumentNullException>(
            "TaskTitleTemplate", 
            () => Render(
    @<GdsTaskList Id="tasklist-with-error">
        <GdsTaskListItem Href="/task-page-1">
            <TaskTitleTemplate>The completed task</TaskTitleTemplate>
            <StatusTemplate>Completed</StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/task-page-3">
            <StatusTemplate>
                <GdsTag Classes="@TagClasses.Red">Title not set</GdsTag>
            </StatusTemplate>
            <HintTemplate>This is a hint</HintTemplate>
        </GdsTaskListItem>
    </GdsTaskList>
        ));
    }

    [Fact]
    public void ThrowsErrorWhenStatusNotSet()
    {
        Assert.Throws<ArgumentNullException>(
            "StatusTemplate", 
            () => Render(
    @<GdsTaskList Id="tasklist-with-error">
        <GdsTaskListItem Href="/task-page-1">
            <TaskTitleTemplate>The completed task</TaskTitleTemplate>
            <StatusTemplate>Completed</StatusTemplate>
        </GdsTaskListItem>
        <GdsTaskListItem Href="/task-page-3">
            <TaskTitleTemplate>A task with no status</TaskTitleTemplate>
        </GdsTaskListItem>
    </GdsTaskList>
        ));
    }
}
