@page "/Styles/Link"
@layout _StylesLayout

<PageTitle>Link</PageTitle>

<span class="govuk-caption-xl">Typography</span>
<h1 class="govuk-heading-xl">Links</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/styles/links/" class="govuk-link">Link</a>.
</p>

<Example BlazorExampleContent="@(@"<p class=""govuk-body"">
    Jump to <GdsLink Href=""/Components/Link"">Blazor example</GdsLink>
</p>")">
    <p class="govuk-body">
        Jump to <GdsLink Href="/Components/Link">Blazor example</GdsLink>
    </p>
</Example>

<h2 class="govuk-heading-l" id="links-without-a-visited-state">Links without a visited state</h2>

<Example BlazorExampleContent="@(@"<p class=""govuk-body"">
    <GdsLink Href=""/Components/Link"" Classes=""@GdsLinkClasses.NoVisitedState"">
        Blazor example (with no visited state)
    </GdsLink>
</p>")">
    <p class="govuk-body">
        <GdsLink Href="/Components/Link" Classes="@GdsLinkClasses.NoVisitedState">Blazor example (with no visited state)</GdsLink>
    </p>
</Example>

<h2 class="govuk-heading-l" id="opening-links-in-a-new-tab">Opening links in a new tab</h2>

<Example BlazorExampleContent="@(@"<p class=""govuk-body"">
    <GdsLink Href=""/Components/Link"" 
             OpenInNewTab=@true
    >
        Blazor example (opens in new tab)
    </GdsLink>
</p>")">
    <p class="govuk-body">
        <GdsLink Href="/Components/Link" OpenInNewTab=@true>Blazor example (opens in new tab)</GdsLink>
    </p>
</Example>

<h2 class="govuk-heading-l" id="links-on-dark-backgrounds">Links on dark backgrounds</h2>

<Example BlazorExampleContent="@(@"<p class=""govuk-body"">
    <GdsLink Href=""/Components/Link"" IsOnDarkBackground=@true>
        Blazor example (on dark background)
    </GdsLink>
</p>")" Classes="dark-background">
    <p class="govuk-body">
        <GdsLink Href="/Components/Link" IsOnDarkBackground=@true>Blazor example (on dark background)</GdsLink>
    </p>
</Example>

<h2 class="govuk-heading-l" id="links-without-underlines">Links without underlines</h2>

<Example BlazorExampleContent="@(@"<p class=""govuk-body"">
    <GdsLink Href=""/Components/Link"" Classes=""@GdsLinkClasses.NoUnderline"">
        Blazor example (with no underline)
    </GdsLink>
</p>")">
    <p class="govuk-body">
        <GdsLink Href="/Components/Link" Classes="@GdsLinkClasses.NoUnderline">Blazor example (with no underline)</GdsLink>
    </p>
</Example>